<h1>投票</h1>
<h2>投票一覧</h2>
  <ul>
    <% polls.each_with_index do |poll, i| %>
      <li><a href="/polls/<%= i %>"><%= poll.title %></a></li>
    <% end %>
  </ul>
<h2>投票追加</h2>
  <form action="/" method="post">
    <label for="title"><%=draft.title%></label>
    <input type="text" name="title" value="<%=draft.title%>">
    <ul>
      <% draft.candidates.each_with_index do |cand, i| %>
        <li><input type="text" name="cand<%=i%>"value="<%=cand%>"></li>
      <% end %>
      <li><button id="add-cand" type="button">追加</button>
    </ul>
    <button type="submit">登録</button>
  </form>
  <script type="text/javascript" src="index.js"></script>
